<div class="max-w-8/10 mx-auto pt-6">
  <samp>
    <h1 class="text-4xl font-bold text-center mb-5 text-slate-700">
      Welcome to GeoTH
    </h1>
    <p class="text-center mb-5 text-slate-500">
      Static API ข้อมูล จังหวัด, อําเภอ, ตำบล และรหัสไปรษณีย์
      ทั้งหมดของประเทศไทย
      <br />
      ที่สามารถรองรับ Concurrent Request ได้เป็นจำนวนมาก
      <br />
    </p>
    <p class="text-center mb-5 text-slate-500">
      <a
        class="hover:underline"
        href="https://github.com/mrthiti/geoth"
        target="_blank">Github</a
      > .
      <a class="hover:underline" href="/demo">Demo</a> .
      <a class="hover:underline" href="https://uptime.thiti.dev/status/geoth"
        >API Status</a
      >
    </p>

    <p></p>
  </samp>
</div>
